<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MSBuildTasks" version="1.5.0.235" targetFramework="net45" developmentDependency="true" />
  <package id="PostSharp" version="2025.1.5" targetFramework="net472" developmentDependency="true" />
  <package id="PostSharp.Compiler.Common" version="2025.1.5" targetFramework="net472" />
  <package id="PostSharp.Compiler.Platforms" version="2025.1.5" targetFramework="net472" />
  <package id="PostSharp.Compiler.Settings" version="2025.1.5" targetFramework="net472" />
  <package id="PostSharp.Redist" version="2025.1.5" targetFramework="net472" />
</packages>