<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PostSharp.LicenseServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Windows" />
    <authorization>
      <!-- TODO: Configure security of the license service. Define which users are allowed to borrow a license. -->
      <!--
      <deny users="?" />
      -->
    </authorization>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <location path="Admin">
    <system.web>
      <authorization>
        <!-- TODO: Configure security of administrative pages. -->
        <!--
        <allow roles="DOMAINNAME\PostSharp Developers" />
        <deny users="*" />
        -->
      </authorization>
    </system.web>
  </location>
  <location path="Documentation">
    <system.web>
      <authorization>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <applicationSettings>
    <!-- DOCUMENTATION OF USER SETTINGS:
    
    GracePeriodWarningDays:
     Number of days between notification emails about the license grace period, i.e. when a license has
     more leases than allowed.
      
    MachinesPerUser: 
      Number of devices that can be used by a single user with a legal license. The default value is 2. 
      Check your license agreement for a different value. 
    
    MinLeaseDays:  
      Minimal number of days before the end of the lease before a client will try to renew the lease. 
      For instance, if developers are expected to work during 5 weeks without a network connection to the license server, 
      this value should be greater than 5. Must be smaller than NewLeaseDays and greater or equal than 0.
    
    NewLeaseDays:   
      Duration of a new lease in days. The minimal value is 1.
      
    GracePeriodWarningEmailTo:
    GracePeriodWarningEmailCC:
      Addresses for notification emails sent by the license server when the grace period starts.
      Change this address to your license administrator.
      
    DeniedRequestEmailTo:
      Address for notification emails sent by the license server when the license server denies a lease request. 
      Change this address to your license administrator.
      
    MutexTimeout:
      Timeout for the mutex that prevents concurrent requests, in seconds. If a lease request cannot be served within this period,
      an HTTP status 503 will be returned.
      
    BuildServers:
      Semicolon-separated list of computer names of build servers.
      
    TimeAcceleration:
        Set to 1. For testing purposes only. Ignored in RELEASE build.
        
     
      
    -->
    <PostSharp.LicenseServer.Properties.Settings>
      <setting name="GracePeriodWarningDays" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="MachinesPerUser" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="MinLeaseDays" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="NewLeaseDays" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="GracePeriodWarningEmailTo" serializeAs="String">
        <value>gael@sharpcrafters.com</value>
      </setting>
      <setting name="DeniedRequestEmailTo" serializeAs="String">
        <value>gael@sharpcrafters.com</value>
      </setting>
      <setting name="MutexTimeout" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="TimeAcceleration" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="BuildServers" serializeAs="String">
        <value>server</value>
      </setting>
      <setting name="GracePeriodWarningEmailCC" serializeAs="String">
        <value>sales@postsharp.net</value>
      </setting>
    </PostSharp.LicenseServer.Properties.Settings>
  </applicationSettings>
  <connectionStrings>
    <!-- TODO: Set the connection string to the license server -->
    <add name="SharpCrafters_LicenseServerConnectionString" connectionString="Data Source=mssql2.kpy.sharpcrafters.com;Initial Catalog=LicenseServer_Dev;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp>
        <!-- TODO: Set the host to the SMTP server-->
        <network host="smtp.kpy.sharpcrafters.com" />
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="PostSharp" publicKeyToken="b13fd38b8f9c99d7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.33.0" newVersion="5.0.33.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>